{{- $gateway := .Values.gateway }}
{{- $statsConfig := $gateway.stats }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kgateway.gateway.fullname" . }}
  {{- with $gateway.gatewayAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "kgateway.gateway.allLabels" . | nindent 4 }}
data:
{{- if and $gateway.xds.tls $gateway.xds.tls.enabled }}
  ca.crt: |
{{ $gateway.xds.tls.caCert | indent 4 }}
{{- end }}
  xds_service_account_token.json: |
    {"resources":[{
      "@type":"type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret",
      "name":"xds-jwt-token",
      "generic_secret": {"secret":{"filename":"/var/run/secrets/tokens/xds-token"}}
    }]}
  envoy.yaml: |
    admin:
      address:
        socket_address: { address: 127.0.0.1, port_value: 19000 }
    layered_runtime:
      layers:
      - name: static_layer
        static_layer:
          envoy.restart_features.use_eds_cache_for_ads: true
      - name: admin_layer
        admin_layer: {}
    node:
      cluster: {{ include "kgateway.gateway.fullname" . }}.{{ .Release.Namespace }}
      metadata:
        role: kgateway-kube-gateway-api~{{ $gateway.gatewayNamespace }}~{{ $gateway.gatewayName | default (include "kgateway.gateway.fullname" .) }}
    {{- if $statsConfig.matcher }}
    {{- $inclusionList := (default (list) $statsConfig.matcher.inclusionList ) -}}
    {{- $exclusionList := (default (list) $statsConfig.matcher.exclusionList ) -}}
    {{- $statsMatcherLists := concat $inclusionList $exclusionList -}}
    {{- if $statsMatcherLists }}
    stats_config:
      stats_matcher:
        {{- if $inclusionList }}
        inclusion_list:
        {{- else }}
        exclusion_list:
        {{- end }}
          patterns:
          {{- /* as only one of the lists is not empty, so concat them to save on a helm template block */ -}}
          {{- range $statsMatcherLists }}
              {{- if .exact }}
            - exact: {{ .exact }}
              {{- else if .prefix }}
            - prefix: {{ .prefix }}
              {{- else if .contains }}
            - contains: {{ .contains }}
              {{- else if .suffix }}
            - suffix: {{ .suffix }}
              {{- else if .safeRegex }}
            - safe_regex:
                regex: {{ .safeRegex }}
              {{- end }}
              {{- if .ignoreCase }}
              ignore_case: {{ .ignoreCase }}
              {{- end }}
          {{- end -}}
    {{- end -}}
    {{ end }}
    static_resources:
      {{- if and $gateway.xds.tls $gateway.xds.tls.enabled }}
      secrets:
        - name: validation_context_sds
          validation_context:
            trusted_ca:
              filename: /etc/envoy/ca.crt
            watched_directory:
              path: /etc/envoy
      {{- end }}
      listeners:
      - name: readiness_listener
        address:
          socket_address: { address: 0.0.0.0, port_value: 8082 }
        filter_chains:
          - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: ingress_http
                normalize_path: true
                merge_slashes: true
                codec_type: AUTO
                route_config:
                  name: main_route
                  virtual_hosts:
                    - name: local_service
                      domains: ["*"]
                      routes:
                        - match:
                            path: "/ready"
                            headers:
                              - name: ":method"
                                string_match:
                                  exact: GET
                          route:
                            cluster: admin_port_cluster
                http_filters:
{{- if $gateway.readinessProbe }}
                  - name: envoy.filters.http.health_check
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.health_check.v3.HealthCheck
                      pass_through_mode: false
                      headers:
                      - name: ":path"
                        string_match:
                          exact: "/envoy-hc"
{{- end }}{{/*if $gateway.readinessProbe*/}}
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
{{- if $statsConfig.enabled }}
      - name: prometheus_listener
        address:
          socket_address:
            address: 0.0.0.0
            port_value: 9091
        filter_chains:
          - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                codec_type: AUTO
                normalize_path: true
                merge_slashes: true
                stat_prefix: prometheus
                route_config:
                  name: prometheus_route
                  virtual_hosts:
                    - name: prometheus_host
                      domains:
                        - "*"
                      routes:
                        - match:
                            path: "/ready"
                            headers:
                              - name: ":method"
                                string_match:
                                  exact: GET
                          route:
                            cluster: admin_port_cluster
                        - match:
                            prefix: "/metrics"
                            headers:
                              - name: ":method"
                                string_match:
                                  exact: GET
                          route:
                            prefix_rewrite: {{ $statsConfig.routePrefixRewrite }}
                            cluster: admin_port_cluster
                      {{- if $statsConfig.enableStatsRoute}}
                        - match:
                            prefix: "/stats"
                            headers:
                              - name: ":method"
                                string_match:
                                  exact: GET
                          route:
                            prefix_rewrite: {{ $statsConfig.statsPrefixRewrite }}
                            cluster: admin_port_cluster
                      {{- end }}
                http_filters:
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
{{- end }}{{/* if $gateway.stats.enabled */}}
      clusters:
        - name: xds_cluster
          alt_stat_name: xds_cluster
          connect_timeout: 5.000s
          load_assignment:
            cluster_name: xds_cluster
            endpoints:
            - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: {{ $gateway.xds.host }}
                      port_value: {{ $gateway.xds.port }}
          {{- if and $gateway.xds.tls $gateway.xds.tls.enabled }}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                validation_context_sds_secret_config:
                  name: validation_context_sds
          {{- end }}
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
              http_filters:
              - name: envoy.filters.http.credential_injector
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.credential_injector.v3.CredentialInjector
                  credential:
                    name: envoy.http.injected_credentials.generic
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.http.injected_credentials.generic.v3.Generic
                      credential:
                        name: xds-jwt-token
                        sds_config:
                          path_config_source:
                            path: "/etc/envoy/xds_service_account_token.json"
                          resource_api_version: V3
                  overwrite: true
              - name: envoy.filters.http.header_mutation
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.header_mutation.v3.HeaderMutation
                  mutations:
                    request_mutations:
                      - append:
                          append_action: OVERWRITE_IF_EXISTS
                          header:
                            key: "Authorization"
                            value: "Bearer %REQ(Authorization)%"
              - name: envoy.filters.http.upstream_codec
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.upstream_codec.v3.UpstreamCodec
          upstream_connection_options:
            tcp_keepalive:
              keepalive_time: 10
          cluster_type:
            name: envoy.cluster.strict_dns
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.clusters.dns.v3.DnsCluster
              respect_dns_ttl: true
        - name: admin_port_cluster
          connect_timeout: 5.000s
          type: STATIC
          lb_policy: ROUND_ROBIN
          load_assignment:
            cluster_name: admin_port_cluster
            endpoints:
            - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: 127.0.0.1
                      port_value: 19000
        {{- if $gateway.istio.enabled }}
        - name: gateway_proxy_sds
          connect_timeout: 0.25s
          http2_protocol_options: {}
          load_assignment:
            cluster_name: gateway_proxy_sds
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: 127.0.0.1
                        port_value: 8234
        {{- end }}{{/* if $gateway.istio.enabled */}}
    {{- $dnsResolver := $gateway.dnsResolver }}
    {{- if $dnsResolver }}
    typed_dns_resolver_config:
      name: envoy.network.dns_resolver.cares
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.network.dns_resolver.cares.v3.CaresDnsResolverConfig
      {{- if $dnsResolver.udpMaxQueries }}
        udp_max_queries: {{ $dnsResolver.udpMaxQueries }}
      {{- end }}
    {{- end }}
    dynamic_resources:
      ads_config:
        transport_api_version: V3
        api_type: GRPC
        rate_limit_settings: {}
        grpc_services:
        - envoy_grpc:
            cluster_name: xds_cluster
      cds_config:
        resource_api_version: V3
        ads: {}
      lds_config:
        resource_api_version: V3
        ads: {}
