apiVersion: v1
kind: Service
metadata:
  name: {{ include "agentgateway.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "agentgateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.controller.service.type }}
  ports:
    - port: {{ .Values.controller.service.ports.agwGrpc }}
      targetPort: grpc-xds-agw
      protocol: TCP
      name: grpc-xds-agw
    - port: {{ .Values.controller.service.ports.health }}
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "agentgateway.selectorLabels" . | nindent 4 }}

