name: Regression Tests
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
    types: [checks_requested]

env:
  VERSION: 'v1.0.0-ci1'
  GITHUB_TOKEN: ${{ github.token }} # necessary to pass upgrade tests
  ENVOYINIT_CACHE_REF: ghcr.io/${{ github.repository_owner }}/envoy-wrapper-cache

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  gw_api_conformance_tests:
    name: K8s Gw Api Conformance Tests (${{ matrix.test-type }}, ${{ matrix.gateway-api-channel }}, ${{ matrix.arch }})
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04' }}
    timeout-minutes: 60
    if: ${{ !github.event.pull_request.draft }}
    strategy:
      fail-fast: false
      matrix:
        gateway-api-channel: [ 'experimental', 'standard' ]
        test-type: [ gateway-api, agentgateway ]
        arch: [ 'amd64', 'arm64' ]
    steps:
    - uses: actions/checkout@v4
    - name: Dotenv Action
      uses: falti/dotenv-action@v1.1.4
      id: dotenv
      with:
        path: "./.github/workflows/.env/pr-tests/versions.env"
        log-variables: true
    - id: run-tests
      uses: ./.github/actions/kube-conformance-tests
      with:
        test-type: ${{ matrix.test-type }}
        api-channel: ${{ matrix.gateway-api-channel }}
        kubectl-version: ${{ steps.dotenv.outputs.kubectl_version }}
        kind-node-version: ${{ steps.dotenv.outputs.node_version }}

  # gie_conformance_tests:
  #   name: Kubernetes Gateway API Inference Extension Conformance Tests
  #   runs-on: ubuntu-22.04
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Dotenv Action
  #     uses: falti/dotenv-action@v1.1.4
  #     id: dotenv
  #     with:
  #       path: "./.github/workflows/.env/pr-tests/versions.env"
  #       log-variables: true
  #   - name: Run GIE Conformance Tests
  #     uses: ./.github/actions/kube-conformance-tests
  #     with:
  #       test-type: inference-extension
  #       api-channel: experimental
  #       enable-inference-extension: true
  #       kubectl-version: ${{ steps.dotenv.outputs.kubectl_version }}
  #       kind-node-version: ${{ steps.dotenv.outputs.node_version }}

  conformance:
    if: always()
    name: Kubernetes Gateway API Conformance Tests
    runs-on: ubuntu-22.04
    needs: [gw_api_conformance_tests]
    steps:
    - name: Check e2e matrix status
      run: |
          if [[ "${{ needs.gw_api_conformance_tests.result }}" == "success" ]]; then
            echo "All conformance matrix jobs passed successfully"
            exit 0
          else
            echo "Conformance matrix jobs failed with status: ${{ needs.gw_api_conformance_tests.result }}"
            exit 1
          fi
